{{#each movies as |movie|}}

  <div>Movie Title: {{movie.title}}</div>
  <div>Movie ID: {{movie.id}}</div>
  <div>Movie Length: {{movie.length}}</div>
  <div>Movie Rating: {{movie.rating}}</div>
  <div>Movie Description: {{movie.description}}</div>

{{/each}}
